@model IEnumerable<Employee>

<div id="slideUp" class="my-own-container filter-container-none">
    <div class="my-own-container-mid">
        <form id="seacrhForm">
            <div class="form-group">
                <input type="text" name="fio" class="form-control" placeholder="-- Введите имя --" id="searchFIO" value="@ViewBag.EmployeeFiterModel.FIO" />
            </div>
            <div class="form-group">
                <select class="form-control" name="vaccineId" id="searchVaccineId">
                    @if (ViewBag.EmployeeFiterModel?.VaccineId == 0)
                    {
                        <option disabled selected name="vaccineId" value="@ViewBag.EmployeeFiterModel?.VaccineId">-- Выберете вид вакцины --</option>
                    }
                    @foreach (Vaccine v in ViewBag.Vaccines)
                    {
                        <option selected=@(ViewBag.EmployeeFiterModel?.VaccineId == v.Id) name="vaccineId" value="@v.Id">@v.VaccineName</option>
                    }
                </select>
            </div>
            <div class="checkbox-group">
                <div class="form-check"><input type="checkbox" name="got1comp" id="got1compId" checked=@(ViewBag.EmployeeFiterModel?.GotFirstComponent) /><span class="own-checkbox">Получили первый компонент</span></div>
                <div class="form-check"><input type="checkbox" name="gotFullCourse" id="gotFullCourseId" checked=@(ViewBag.EmployeeFiterModel?.GotFullCourse) /><span class="own-checkbox">Прошли полный курс вакцинации</span></div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit" id="searchSubmit">Фильтр</button>
                <a class="btn btn-secondary" asp-action="ClearFilters">Очистить фильтры</a>
            </div>
        </form>
    </div>
</div>