@model IEnumerable<Employee>

@{
    Layout = "_Layout";
}
<div class="container">
    @await Component.InvokeAsync("VaccinationStatistic")
    <div class="control-inline filter">
        <div class="own-search button-search">
            <button class="btn btn-link" id="slideDown">Расширенный поиск</button>
        </div>
        <div class="button-add-employee">
            <a asp-action="UpdateEmployee"
               class="btn btn-link">Добавить сотрудника</a>
        </div>
    </div>
    
</div>

<div class="filter">
    @Html.Partial("FilterPartial", Model)
</div>

<div id="results">
    @Html.Partial("IndexTablePartial", Model)
</div>
