<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
    @Html.Partial("CssPartial")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Html.Partial("ScriptsPartial")
</body>
</html>
