<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Covid19</title>
    @Html.Partial("CssPartial")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("HeaderPartial")
        <div class="p-2">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("ScriptsPartial")
</body>
</html >
