<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Covid19</title>
    @Html.Partial("CssPartial")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("HeaderPartial")
        <div class="p-2">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("ScriptsPartial")
<script type="text/javascript">
    $(function () {
        $('#slideDown').click(function () {
            $('#slideUp').slideToggle(1000);
        });
    });

    //$('#searchSubmit').click(function (e) {
    //    e.preventDefault();
    //    $('#results').removeData();
    //    var fio = $('#searchFIO').val();
    //    var vaccineId = $('#searchVaccineId').val();
    //    var got1comp = $('#got1compId').val();
    //    var gotFullCourse = $('#gotFullCourseId').val();
    //    $.post("Home/Index", { fio: fio, vaccineId: vaccineId, got1comp: got1comp, gotFullCourse: gotFullCourse }, function (data) {
    //        $('#results').html(data)
    //    });
    //});
</script>
</body>
</html >
